.env
models/*
output/*
logs/*
venv/*
temp.py
output_images/*
diffusers/*
generated_images/*
.gradio/*
.vscode/*
.DS_Store
__pycache__/*
*.pyc
*.safetensors
*.xlsx
dockerlogs.txt
*.webp
*.png
*.jpg
*.jpeg
qdrant_data/*